
body {
    background-color: white;
    width: 100%;
}

 a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.breadcrumb a {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;

}
article{
    max-width: 800px ;
    margin: 40px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 17px;
}

dt {
    font-weight: 600;
   }
footer{
    color: rgb(187, 187, 187);
}
.breadcrumb{
   margin-top: -20px; 
   color:grey;
   font-size: 15px; 

}
.nav-footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: transparent;
}
.navbar-brand{ 
    margin-left: 2%;
    font-weight:  900;
    font-size: 3rem;
}
.btn{
    margin-top: 10px;
}
.image-fluid {
    max-width: 100%; 
    height: auto;
    width: 100% \9;
}      
.toc1{
    font-size: 20px;
    font-weight: 600;
}
.toctext{
    color: black;
    font-size: 17px;
    text-decoration: underline; 
}

.star-bar{
    max-width: 700px;
    margin: 40px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}
.checked {
    color: orange;
  }
.comment-area{
    margin-top: 40px;
    text-align:center; 
    background-color: rgb(224, 224, 224);
    padding: 5px; 
    border-radius: 5px;
    max-width: 700px;
    margin: 40px auto 0px;
    font-family: Arial, Helvetica, sans-serif;

}
.old-comments{
    
    float:left;
    margin: 30px 0px 7px 0;
}
textarea{
    border-radius: 15px;
    padding: 5px;
}
.footer{
    display: flex;
    width: 100%;   
}
}
.author, .datePublished{
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #adadad;
}
footer .nav-footer a {
    color:white;
    font-size: 15px;
    line-height: 30px;  
}
footer .cont-footer a {
    color:white;
    font-size: 18px;
    line-height: 30px;  
}

